In [18]:
from google.cloud import bigquery
from google.cloud.bigquery import job
import pandas as pd
import os
from tqdm import tqdm
import pandas as pd
PROJCECT = 'ballosodeuk'
bq = bigquery.Client(project=PROJCECT)
import statsmodels.api as sm 
import numpy as np

In [142]:
# 클라이언트 설정
client = bigquery.Client()
query_name = "1017_쿠폰구매데이터"
# SQL 파일 읽기
# file = './query/쿠팡0403_0509.sql'
file = f'../query/{query_name}.sql'
with open(file, 'r') as file:
    query = file.read()

In [143]:
job_config = bigquery.QueryJobConfig()
query_job = client.query(query, job_config=job_config)

In [144]:
df = query_job.to_dataframe()

c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2309: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2323: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2337: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)

In [145]:
df.to_parquet('./0503_1021_earningSpending.parquet')

In [207]:
df = pd.read_parquet('./0503_1021_earningSpending.parquet')

In [208]:
df.rename(columns={'9000-12999':'9000-10999'},inplace=True)
df.entropy.mean()

0.34740111715437655

In [209]:
df.columns

Index(['User_ID', 'Mean_Spend_Ratio', 'entropy', '0-1000', '1000-2999',
       '3000-4999', '5000-6999', '7000-8999', '9000-10999', '11000 - 12999',
       '13000 - 14999', '15000 - 16999', '17000 - 18999', '19000 - 20999',
       '21000 - 22999', '23000 - 24999', '25000 - 26999', '27000 - 28999',
       '29000 - 30999', '31000 - 32999', '33000 - 34999', '35000 - 36999',
       '37000 - 38999', '39000 - 40999', '41000 -'],
      dtype='object')

- 통계치

In [210]:
def ci_stats(df,col):
    mean = df[col].mean()
    std = df[col].std()
    n = len(df)
    ci_upper = mean + 1.96 * std / np.sqrt(n)
    ci_lower = mean - 1.96 * std / np.sqrt(n)
    
    return round(mean,2), round(ci_upper,2), round(ci_lower,2)

spend_ratio = ci_stats(df,'Mean_Spend_Ratio')
entropy = ci_stats(df,'entropy')

print(spend_ratio, entropy)

(0.68, 0.68, 0.68) (0.35, 0.35, 0.34)

In [211]:
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler()
tst = df[['Mean_Spend_Ratio','entropy']]

tst_scaled = sc.fit_transform(tst)
pd.DataFrame(tst_scaled).corr()

          0         1
0  1.000000 -0.072604
1 -0.072604  1.000000

In [212]:
df

,User_ID,Mean_Spend_Ratio,entropy,0-1000,1000-2999,3000-4999,5000-6999,7000-8999,9000-10999,11000 - 12999,...,23000 - 24999,25000 - 26999,27000 - 28999,29000 - 30999,31000 - 32999,33000 - 34999,35000 - 36999,37000 - 38999,39000 - 40999,41000 -
0,2e4fd5ca-3ff7-49ba-ba0e-b735148a76fe,0.434666,0.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,bfc8d466-1f9e-4809-9214-fac474c05bc8,0.601046,1.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,053149c5-f809-4192-a8a7-975718793ada,0.852169,0.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,500fc07f-4311-414f-b7ad-0c39245d7aaa,0.615150,1.52,0,0,1,2,0,2,0,...,0,0,0,0,0,0,0,0,0,0
4,398482d7-d029-4284-8423-f2e38d8a3fc4,0.757576,0.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163446,e3b72643-c424-4d38-b0d0-adc4dbe827fd,0.901113,0.00,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
163447,7acc3820-0aab-4769-9344-77eabe434a11,0.918086,0.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
163448,97c6c099-5452-4ff6-bcc9-dc342af38efa,1.000000,0.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163449,d121650d-6909-435b-9990-40ce5b084421,0.910262,0.00,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
163450,e57f35e8-43b8-4971-addf-271fc45248a8,0.400370,0.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

### 소비 강도의 증가에 따른 구매금액 범주 속할 확률 증가분

#### 1만원 이하 구매자의 경우, 탕진 확률이 낮다. 이상의 경우, 탕진 확률이 높다

#### 9월 소량 데이터
- print(np.exp(low_coef)) #1.1만원 이하 -> 강도 증가 시 0.14 배 낮아짐
- print(np.exp(low_mid)) #2.1만원 이하 -> 강도 증가 시 2.15배 높아짐
- print(np.exp(mid)) #3.1만원 이하 -> 강도 증가 시 12배 높아짐
- print(np.exp(high)) #4.1 만 이하, 이상 -> 강도 증가 시 30배 높아짐

#### 5~10월 전체 (16만명)
- 1.1만원 이하 : 강도 증가 시 0.04배 낮아짐
- 2.1만원 이하 : 강도 증가 시 1.78배 높아짐
- 3.1만원 이하 : 강도 증가 시 3.88배 높아짐
- 4.1만원 이하 : 강도 증가 시 15.4배 높아짐

>1. 따라서, 1.1만원 이하 구매의 경우 한탕 소진이 아니다. <br>
>2. 이 이상 높아질 시, 한탕 소진으로 모든 금액을 소진할 확률이 높다.
>3. 큰 쿠폰 구매자는 돈을 모아서 도달하고, 소액 쿠폰 구매는 잔액을 거의 대부분 남겨놓는 경향이 있다.
>4. 이 금액이 쇼핑지원금 타겟이다

In [213]:
def pre_prep(df):
    df['low'] = df[['0-1000', '1000-2999', '3000-4999', '5000-6999','7000-8999', '9000-10999', ]].sum(axis=1)
    df['low-mid'] = df[['11000 - 12999', '13000 - 14999', '15000 - 16999', '17000 - 18999', '19000 - 20999']].sum(axis=1)
    df['mid'] = df[['21000 - 22999', '23000 - 24999', '25000 - 26999', '27000 - 28999','29000 - 30999']].sum(axis=1)
    df['high'] = df[['31000 - 32999', '33000 - 34999', '35000 - 36999', '37000 - 38999', '39000 - 40999', '41000 -']].sum(axis=1)

    df_ = df[['User_ID','Mean_Spend_Ratio','low','low-mid','mid','high']].copy()
    df_ = df_[df_['Mean_Spend_Ratio'].notna()]
    df_ = df_.dropna(subset=['Mean_Spend_Ratio'])  # 결측값 제거
    df_ = df_[~df_['Mean_Spend_Ratio'].isin([float('inf'), -float('inf')])] 

    return df_

In [214]:
def logit_func(df_):
    X = df_['Mean_Spend_Ratio']
    y = df_.iloc[:,2:]
    y['low'] = y['low'].apply(lambda x : 1 if x > 1 else x)
    y['low-mid'] = y['low-mid'].apply(lambda x : 1 if x > 1 else x)
    y['mid'] = y['mid'].apply(lambda x : 1 if x > 1 else x)
    y['high'] = y['high'].apply(lambda x : 1 if x > 1 else x)

    results = {}
    for column in y.columns:
        y_column = y[column]
        X_with_const = sm.add_constant(X)
        model = sm.Logit(y_column, X_with_const).fit()
        results[column] = model.summary()

    return results

In [215]:
import pandas as pd
import numpy as np

def get_results(results):
    extracted_results = {}
    for column, summary in results.items():
        # summary.tables[1]에서 계수와 p-value 추출
        # 첫 번째 행은 상수항이므로, 두 번째 행부터 시작
        for i in range(1, len(summary.tables[1].data)):  # 첫 번째 행(상수항)을 제외하고 반복
            coef = summary.tables[1].data[i][1]  # 계수
            p_value = summary.tables[1].data[i][4]  # p-value
            variable_name = summary.tables[1].data[i][0]  # 변수 이름
            extracted_results[f"{column}_{variable_name}"] = {'coef': coef, 'p-value': p_value}        

    # DataFrame 생성
    df = pd.DataFrame(extracted_results).T

    # odds-ratio 계산
    def safe_exp(x):
        try:
            # x를 float로 변환
            float_x = float(x)
            return np.exp(float_x)  # exp 적용
        except (ValueError, TypeError):
            return np.nan  # 변환 불가능한 경우 NaN 반환

    df['odds-ratio'] = df['coef'].apply(safe_exp)
        
    return df

In [216]:
df_result = get_results(logit_func(pre_prep(df)))
df_result

Optimization terminated successfully.
         Current function value: 0.467827
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.404297
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.186117
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.385834
         Iterations 7

                                coef p-value  odds-ratio
low_const                     3.6969   0.000   40.322112
low_Mean_Spend_Ratio         -3.1458   0.000    0.043032
low-mid_const                -2.2136   0.000    0.109306
low-mid_Mean_Spend_Ratio      0.5776   0.000    1.781757
mid_const                    -4.0041   0.000    0.018241
mid_Mean_Spend_Ratio          1.3579   0.000    3.888020
high_const                   -3.8508   0.000    0.021263
high_Mean_Spend_Ratio         2.7391   0.000   15.473053

In [217]:
# 전체 5/3 ~ 10/21
df_result = get_results(logit_func(pre_prep(df)))
df_result

Optimization terminated successfully.
         Current function value: 0.467827
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.404297
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.186117
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.385834
         Iterations 7

                                coef p-value  odds-ratio
low_const                     3.6969   0.000   40.322112
low_Mean_Spend_Ratio         -3.1458   0.000    0.043032
low-mid_const                -2.2136   0.000    0.109306
low-mid_Mean_Spend_Ratio      0.5776   0.000    1.781757
mid_const                    -4.0041   0.000    0.018241
mid_Mean_Spend_Ratio          1.3579   0.000    3.888020
high_const                   -3.8508   0.000    0.021263
high_Mean_Spend_Ratio         2.7391   0.000   15.473053

### 엔트로피 구간 별 통계

In [167]:
df

,User_ID,Mean_Spend_Ratio,entropy,0-1000,1000-2999,3000-4999,5000-6999,7000-8999,9000-10999,11000 - 12999,...,31000 - 32999,33000 - 34999,35000 - 36999,37000 - 38999,39000 - 40999,41000 -,low,low-mid,mid,high
0,2e4fd5ca-3ff7-49ba-ba0e-b735148a76fe,0.434666,0.00,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,bfc8d466-1f9e-4809-9214-fac474c05bc8,0.601046,1.00,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1
2,053149c5-f809-4192-a8a7-975718793ada,0.852169,0.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,500fc07f-4311-414f-b7ad-0c39245d7aaa,0.615150,1.52,0,0,1,2,0,2,0,...,0,0,0,0,0,0,5,0,0,0
4,398482d7-d029-4284-8423-f2e38d8a3fc4,0.757576,0.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163446,e3b72643-c424-4d38-b0d0-adc4dbe827fd,0.901113,0.00,0,0,0,0,0,2,0,...,0,0,0,0,0,0,2,0,0,0
163447,7acc3820-0aab-4769-9344-77eabe434a11,0.918086,0.00,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
163448,97c6c099-5452-4ff6-bcc9-dc342af38efa,1.000000,0.00,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
163449,d121650d-6909-435b-9990-40ce5b084421,0.910262,0.00,0,3,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0
163450,e57f35e8-43b8-4971-addf-271fc45248a8,0.400370,0.00,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0

In [218]:
df.entropy.min(), df.entropy.max(), df.Mean_Spend_Ratio.min(), df.Mean_Spend_Ratio.max()

(0.0, 3.23, 0.0, 1.0)

In [219]:
import pandas as pd
import numpy as np

# entropy 구간 설정
bins = [0, 0.2, 0.4, 0.6, 0.8, 1.0, 1.2, 1.4, 1.6, 1.8, 2.0, 2.2, 2.4, 2.6, 2.8, 3.0, 3.2, 3.4]  # 구간 설정
labels = ['0-0.2', '0.2-0.4', '0.4-0.6', '0.6-0.8', '0.8-1.0', '1.0-1.2', 
          '1.2-1.4', '1.4-1.6', '1.6-1.8', '1.8-2.0', '2.0-2.2', '2.2-2.4',
          '2.4-2.6','2.6-2.8','2.8-3.0','3.0-3.2','3.2-3.4']  # 구간 레이블
df['entropy_bins'] = pd.cut(df['entropy'], bins=bins, labels=labels, right=False)

# 각 구간별 유저 수와 구매 횟수 집계
result = df.groupby('entropy_bins').agg(
    user_count=('User_ID', 'nunique'),  # 유저 수
    Mean_Spend_Ratio=('Mean_Spend_Ratio','mean'),
    low=('low', 'sum'),  # 총 구매 횟수
    low_mid=('low-mid', 'sum'),  # 총 구매 횟수
    mid=('mid', 'sum'),  # 총 구매 횟수
    high=('high', 'sum'),  # 총 구매 횟수
).reset_index()

# 결과 출력
pd.DataFrame(result)

C:\Users\Owner\AppData\Local\Temp\ipykernel_39696\4152782128.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = df.groupby('entropy_bins').agg(

   entropy_bins  user_count  Mean_Spend_Ratio     low  low_mid   mid   high
0         0-0.2      111514          0.694517  144995    11489  4470  18119
1       0.2-0.4         134          0.553584    2203        5     1     23
2       0.4-0.6        1103          0.579893    9698       54    10     28
3       0.6-0.8        2255          0.602560   13324      243    35     77
4       0.8-1.0       14566          0.645597   50986     3047   509    979
5       1.0-1.2       21030          0.681010   37348     6193  1628   3267
6       1.2-1.4        1774          0.582428   10705      408    67    113
7       1.4-1.6        8720          0.639128   29174     3711   678    999
8       1.6-1.8         376          0.532025    2721      143    25     41
9       1.8-2.0         998          0.576698    5308      537    72     96
10      2.0-2.2         717          0.618378    2609      476   106    135
11      2.2-2.4         221          0.540285    1145      211    39     40
12      2.4-2.6          39          0.486725     250       45    15     27
13      2.6-2.8           2          0.742806      11        3     0      2
14      2.8-3.0           1          0.237067       5        3     0      5
15      3.0-3.2           0               NaN       0        0     0      0
16      3.2-3.4           1          0.056857      51       26     1     11

In [ ]:
df[]

In [220]:
df[df['entropy'].isna()]

Empty DataFrame
Columns: [User_ID, Mean_Spend_Ratio, entropy, 0-1000, 1000-2999, 3000-4999, 5000-6999, 7000-8999, 9000-10999, 11000 - 12999, 13000 - 14999, 15000 - 16999, 17000 - 18999, 19000 - 20999, 21000 - 22999, 23000 - 24999, 25000 - 26999, 27000 - 28999, 29000 - 30999, 31000 - 32999, 33000 - 34999, 35000 - 36999, 37000 - 38999, 39000 - 40999, 41000 -, low, low-mid, mid, high, entropy_bins]
Index: []

[0 rows x 30 columns]

In [204]:
len(df) ,len(df[df['entropy'].isna()])

(163451, 0)

In [222]:
df[df['Mean_Spend_Ratio'].isna()]

,User_ID,Mean_Spend_Ratio,entropy,0-1000,1000-2999,3000-4999,5000-6999,7000-8999,9000-10999,11000 - 12999,...,33000 - 34999,35000 - 36999,37000 - 38999,39000 - 40999,41000 -,low,low-mid,mid,high,entropy_bins
8,464355a9-7c3b-4225-8385-c2cf0fd7c757,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
16,dea5391c-17f5-4ca3-a066-77f1bc4c6130,NaN,0.0,0,0,2,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0-0.2
22,d5d3a38a-9626-4eb9-9904-c6869f48fb0c,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
24,a367451e-b60b-45a8-9481-39b7085d1e06,NaN,0.0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
56,3a5c1c1c-ec04-44b9-b86b-e75315ae0bdc,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163400,7903be38-b418-4ead-b031-be54808c17bc,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
163421,e1116ed8-4c1f-42c5-bcf6-9e403d40f642,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
163432,d7b59c0c-70bc-4a85-bd85-422c46aecbe3,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
163434,d27055b8-8ce2-444d-8113-9b8f9d66c2d7,NaN,0.0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2
163443,f9b06389-9358-4559-8163-3a4be5b9e19d,NaN,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0-0.2

In [223]:
df__ = df[~df['Mean_Spend_Ratio'].isna()]

# entropy 구간 설정
bins = [0, 0.1, 0.2, 0.3, 0.4, 0.5,0.6,0.7,0.8,0.9,1.0]  # 구간 설정
labels = [
    '0-0.1', '0.1-0.2', '0.2-0.3', '0.3-0.4', '0.4-0.5',
    '0.5-0.6', '0.6-0.7', '0.7-0.8', '0.8-0.9', '0.9-1.0'
    ]  # 구간 레이블
df__['spend_power_bins'] = pd.cut(df__['Mean_Spend_Ratio'], bins=bins, labels=labels, right=False)

# 각 구간별 유저 수와 구매 횟수 집계
result = df__.groupby('spend_power_bins').agg(
    user_count=('User_ID', 'nunique'),  # 유저 수
    entropy=('entropy','mean'),
    low=('low', 'sum'),  # 총 구매 횟수
    low_mid=('low-mid', 'sum'),  # 총 구매 횟수
    mid=('mid', 'sum'),  # 총 구매 횟수
    high=('high', 'sum'),  # 총 구매 횟수
).reset_index()

# 결과 출력
pd.DataFrame(result)

C:\Users\Owner\AppData\Local\Temp\ipykernel_39696\244673265.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df__['spend_power_bins'] = pd.cut(df__['Mean_Spend_Ratio'], bins=bins, labels=labels, right=False)
C:\Users\Owner\AppData\Local\Temp\ipykernel_39696\244673265.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result = df__.groupby('spend_power_bins').agg(

  spend_power_bins  user_count   entropy    low  low_mid   mid  high
0            0-0.1        9459  0.096351  14959      104    17    77
1          0.1-0.2        5858  0.371413  15621      337    42    72
2          0.2-0.3        6744  0.482088  18662     1017   132   220
3          0.3-0.4        8160  0.557931  22836     1664   343   484
4          0.4-0.5       10054  0.622739  26108     2223   532  1236
5          0.5-0.6       11420  0.549480  28639     2589   601  1367
6          0.6-0.7       13435  0.492874  32029     2980   715  1688
7          0.7-0.8       16200  0.401881  34727     3301   825  2274
8          0.8-0.9       20201  0.344540  36391     3728  1170  3520
9          0.9-1.0       37194  0.252093  44653     6339  2500  9368