In [8]:
import pandas as pd
import numpy as np
import os
import sys
import json
import requests
import gc
from tqdm import tqdm

from google.cloud import bigquery
from google.cloud.bigquery import job
from datetime import date, timedelta, datetime

PROJCECT = 'ballosodeuk'
bq = bigquery.Client(project=PROJCECT)

#  클라이언트 설정

In [15]:
query = """
    with click1 as 
  (select event_dttm, event_dt, user_id
  FROM `ballosodeuk.dw.fact_airbridge_event`, unnest(event_detail)
  where 1=1
    and event_dt between "2024-12-30" and {end_date}
    and event_category in ('c__shopping_home__quick__btn (App)'))

,click2 as 
  (select event_dttm, event_dt, user_id
  FROM `ballosodeuk.dw.fact_airbridge_event`, unnest(event_detail)
  where 1=1
    and event_dt between "2024-12-30" and {end_date}
    and event_category in ('c__all_income_s_money__to_exchange__btn (App)')
    )


,user_param as (
select distinct event_dt, user_id
from
  (select distinct event_dt, user_id from click1
  union all
  select distinct event_dt, user_id from click2
  ))

select a.user_id, event_dt, current_cash
from user_param a
left join ballosodeuk.dw.dim_airbridge_member b on a.user_id = b.user_id
order by user_id, event_dt

"""

In [24]:
# yester_day = (datetime.today() - timedelta(days=1)).strftime('%Y-%m-%d')
# formatted_query = query.format(
#     end_date=f"'{yester_day}'"
# )

# df = bq.query(formatted_query).to_dataframe()
df.to_parquet(f"./data/click_param_{yester_day}.parquet")
df = pd.read_parquet(f"./data/click_param_{yester_day}.parquet")

In [25]:
df = df.query("user_id.notnull()")
df.iloc[:,-1] = df.iloc[:,-1].fillna(0).astype(int)
df['event_dt'] = pd.to_datetime(df.event_dt.astype(str))

<ipython-input-25-90d58f8dbcc6>:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:,-1] = df.iloc[:,-1].fillna(0).astype(int)

In [45]:
df.sort_values(by=['user_id','event_dt'],inplace=True)
df['days_between_visits'] = df.groupby('user_id').event_dt.diff().dt.days

,user_id,event_dt,current_cash,days_between_visits
31,000087ef-6929-4532-85be-33661b2082d5,2025-01-06,25905,NaN
32,000087ef-6929-4532-85be-33661b2082d5,2025-01-10,25905,4.0
33,000087ef-6929-4532-85be-33661b2082d5,2025-01-13,25905,3.0
34,000087ef-6929-4532-85be-33661b2082d5,2025-01-16,25905,3.0
35,000087ef-6929-4532-85be-33661b2082d5,2025-01-17,25905,1.0

In [40]:
# 더 효율적인 방법으로 일별 커버리지 계산
def calculate_daily_coverage(df):
    # 전체 유니크 유저 수 계산
    total_unique_users = df['user_id'].nunique()
    
    # 날짜별 커버리지 계산 (vectorized operation 사용)
    daily_coverage = (df.groupby('event_dt')['user_id']
                     .nunique()
                     .reset_index()
                     .rename(columns={'user_id': 'daily_users'}))
    
    # 커버리지 비율 계산
    daily_coverage['coverage_rate'] = (daily_coverage['daily_users'] / total_unique_users * 100)
    
    return daily_coverage[['event_dt', 'coverage_rate','daily_users']]

# 결과 출력
daily_coverage = calculate_daily_coverage(df)
print("일자별 전체 유니크 유저 포함률:")
print(daily_coverage.set_index('event_dt').sort_index())
print(f"\n평균 포함률: {daily_coverage['coverage_rate'].mean():.1f}%")

일자별 전체 유니크 유저 포함률:
            coverage_rate  daily_users
event_dt
2024-12-30      32.707837        52169
2024-12-31      29.477116        47016
2025-01-01      22.643260        36116
2025-01-02      20.839498        33239
2025-01-03      17.642006        28139
2025-01-04      18.492163        29495
2025-01-05      16.682132        26608
2025-01-06      16.972414        27071
2025-01-07      15.588715        24864
2025-01-08      14.265204        22753
2025-01-09      14.079624        22457
2025-01-10      13.101567        20897
2025-01-11      13.683386        21825
2025-01-12      13.549843        21612
2025-01-13      14.109718        22505
2025-01-14      13.675862        21813
2025-01-15      12.784953        20392
2025-01-16      12.937304        20635
2025-01-17      12.004389        19147
2025-01-18      12.496552        19932
2025-01-19      12.073354        19257
2025-01-20      12.499687        19937
2025-01-21      12.080878        19269
2025-01-22      11.699687        18661
2025-01-23      11.422571        18219
2025-01-24      10.694671        17058
2025-01-25      12.817555        20444
2025-01-26      16.680878        26606
2025-01-27      13.958621        22264
2025-01-28      11.040125        17609
2025-01-29      12.431975        19829
2025-01-30      12.215047        19483
2025-01-31      11.838871        18883
2025-02-01      11.692790        18650
2025-02-02      11.299687        18023
2025-02-03      11.238871        17926
2025-02-04      10.692790        17055

평균 포함률: 14.7%

In [48]:
user_visit_gaps = df.groupby('user_id')['days_between_visits'].mean()
user_visit_gaps.describe()
gap_dist = user_visit_gaps.value_counts().sort_index()
gap_dist

1.000000     7424
1.028571      370
1.029412      130
1.030303       39
1.031250       24
1.032258       11
1.033333       15
1.034483       14
1.035714       13
1.037037        6
1.038462       15
1.040000        9
1.041667        4
1.043478       12
1.045455        9
1.047619        6
1.050000        7
1.052632        4
1.055556        6
1.058824      373
1.060606      132
1.062500       71
1.064516       41
1.066667       25
1.068966       27
1.071429       21
1.074074       16
1.076923       21
1.080000       13
1.083333       28
1.086957        7
1.090909      385
1.093750      138
1.095238        7
1.096774       71
1.100000       62
1.103448       28
1.105263        9
1.107143       24
1.111111       44
1.115385       21
1.117647        7
1.120000       12
1.125000      411
1.129032      164
1.130435       20
1.133333       77
1.136364       13
1.137931       36
1.142857       88
1.148148       21
1.150000        7
1.153846       29
1.157895        7
1.160000       17
1.161290      321
1.166667      247
1.172414       71
1.173913       19
1.176471        8
1.178571       48
1.181818       40
1.185185       29
1.187500        6
1.190476       13
1.192308       32
1.200000      487
1.206897      151
1.208333       19
1.210526        7
1.214286      105
1.217391       15
1.222222       81
1.227273       19
1.230769       50
1.235294       12
1.238095       20
1.240000       31
1.241379      309
1.250000      369
1.259259       82
1.260870       18
1.263158       13
1.266667       12
1.269231       60
1.272727       36
1.277778       18
1.280000       30
1.285714      365
1.291667       40
1.294118       15
1.296296      165
1.300000       42
1.304348       22
1.307692      120
1.312500        9
1.315789       18
1.318182       15
1.320000       53
1.333333      718
1.346154      173
1.347826       25
1.350000       27
1.352941       17
1.357143       20
1.360000      111
1.363636       58
1.368421       16
1.375000       96
1.380952       27
1.384615      260
1.388889       26
1.391304       44
1.400000      310
1.409091       38
1.411765       20
1.416667      111
1.421053       26
1.428571       69
1.434783       79
1.437500       13
1.440000      244
1.444444       40
1.450000       26
1.454545       66
1.458333      171
1.461538       15
1.466667       15
1.470588       17
1.473684       33
1.476190       38
1.478261      102
1.500000     1462
1.521739      170
1.523810       55
1.526316       30
1.529412       26
1.533333       20
1.538462       21
1.545455      130
1.550000       51
1.555556       51
1.562500       22
1.565217      214
1.571429      128
1.578947       52
1.583333       19
1.588235       32
1.590909      189
1.600000      164
1.611111       32
1.615385       25
1.619048      104
1.625000       57
1.631579       38
1.636364      245
1.642857       25
1.647059       34
1.650000       86
1.666667      600
1.684211       61
1.687500       45
1.692308       15
1.700000      130
1.705882       39
1.714286      253
1.722222       58
1.727273       24
1.733333       37
1.736842       92
1.750000      427
1.764706       51
1.769231       25
1.777778       92
1.785714       36
1.789474      109
1.800000      341
1.812500       40
1.818182       20
1.823529       82
1.833333      168
1.842105      152
1.846154       34
1.857143       86
1.866667       37
1.875000      104
1.882353       74
1.888889      150
1.894737      196
1.900000       36
1.909091       30
1.916667       29
1.923077       37
1.928571       49
1.933333       48
1.937500       67
1.941176       92
1.944444      162
2.000000     4604
2.058824      165
2.062500      100
2.066667       82
2.071429       50
2.076923       68
2.083333       37
2.090909       32
2.100000       44
2.111111       37
2.117647      186
2.125000      172
2.133333       84
2.142857      122
2.153846       50
2.166667      124
2.181818       40
2.187500      178
2.200000      246
2.214286       97
2.222222       34
2.230769       63
2.250000      476
2.266667      133
2.272727       53
2.285714      146
2.300000       51
2.307692       71
2.333333      675
2.357143      103
2.363636       60
2.375000       49
2.384615       84
2.400000      292
2.416667       64
2.428571      183
2.444444       34
2.454545       96
2.461538       93
2.500000     1211
2.538462      122
2.545455       68
2.555556       43
2.571429      248
2.583333       97
2.600000      188
2.615385      132
2.625000       68
2.636364       87
2.666667      531
2.692308      167
2.700000      114
2.714286       56
2.727273      102
2.750000      331
2.769231      175
2.777778       68
2.800000      170
2.818182      123
2.833333      208
2.857143       62
2.875000       55
2.888889       93
2.900000       92
2.909091      125
2.916667      175
3.000000     3791
3.090909      174
3.100000      122
3.111111      105
3.125000       84
3.142857       68
3.166667       85
3.181818      192
3.200000      252
3.222222      108
3.250000      274
3.272727      179
3.285714       96
3.300000      155
3.333333      522
3.375000      147
3.400000      283
3.428571       81
3.444444      146
3.500000     1103
3.555556      154
3.571429      104
3.600000      287
3.625000      133
3.666667      486
3.714286      138
3.750000      266
3.777778      169
3.800000      113
3.833333      124
3.857143      176
3.875000      156
3.888889      198
4.000000     3153
4.125000      193
4.142857      125
4.166667      149
4.200000      131
4.250000      398
4.285714      210
4.333333      448
4.375000      250
4.400000      142
4.428571      173
4.500000     1000
4.571429      196
4.600000      142
4.666667      468
4.714286      217
4.750000      161
4.800000      165
4.833333      163
4.857143      221
5.000000     2892
5.142857      160
5.166667      221
5.200000      230
5.250000      203
5.333333      478
5.400000      303
5.500000      891
5.600000      278
5.666667      491
5.750000      192
5.800000      212
5.833333      218
6.000000     2407
6.200000      252
6.250000      247
6.333333      272
6.400000      253
6.500000      801
6.600000      280
6.666667      313
6.750000      419
6.800000      264
7.000000     2329
7.200000      164
7.250000      282
7.333333      282
7.500000      775
7.666667      306
7.750000      295
8.000000     1924
8.250000      306
8.333333      351
8.500000      660
8.666667      434
8.750000      215
9.000000     1895
9.333333      447
9.500000      418
9.666667      342
10.000000    1567
10.333333     384
10.500000     387
10.666667     330
11.000000    1382
11.333333     288
11.500000     397
11.666667     221
12.000000    1142
12.500000     438
13.000000    1152
13.500000     705
14.000000    1117
14.500000     408
15.000000     987
15.500000     398
16.000000     857
16.500000     283
17.000000     745
17.500000     240
18.000000     620
19.000000     438
20.000000     417
21.000000     450
22.000000     396
23.000000     354
24.000000     394
25.000000     435
26.000000     534
27.000000     748
28.000000     454
29.000000     346
30.000000     379
31.000000     276
32.000000     243
33.000000     193
34.000000     174
35.000000     129
36.000000      69
Name: days_between_visits, dtype: int64

In [31]:
df_g = df.groupby('event_dt').agg({'optimal_coupon':'sum','left_cash':'sum','user_id':'count','current_cash':'sum'})
df_g['left_cash_rate'] = df_g['left_cash'] / df_g['current_cash']
df_g

KeyError: "Column(s) ['left_cash', 'optimal_coupon'] do not exist"

In [46]:
len(df.user_id.unique())
len(df[['user_id']].drop_duplicates())

159500

In [39]:
import pandas as pd
import numpy as np

def find_optimal_coupon(cash, coupon_price):
    coupon_array = np.array(coupon_price)
    tg_buy_idx = np.where((cash - coupon_array) >= 0, cash - coupon_array, np.inf).argmin()
    return coupon_array[tg_buy_idx], cash - coupon_array[tg_buy_idx]

def simulate_daily_purchases(user_data, days, coupon_price, min_coupon):
    results = []
    
    # 초기 활성 사용자 설정
    active_users = user_data.copy()
    active_users['cash'] = active_users['current_cash']  # 초기 잔액 설정
    
    for day in range(1, days + 1):
        # 당일 방문 가능한 사용자 (cash가 min_coupon 이상인 사용자)
        today_users = active_users[active_users['cash'] >= min_coupon].copy()
        
        if len(today_users) > 0:
            # 쿠폰 구매 및 잔액 계산
            optimal_coupons = []
            left_cash = []
            
            for cash in today_users['cash']:
                coupon, remaining = find_optimal_coupon(cash, coupon_price)
                optimal_coupons.append(coupon)
                left_cash.append(remaining)
            
            # 사용자 잔액 업데이트
            today_users['cash'] = left_cash
            active_users.loc[today_users.index, 'cash'] = left_cash
            
            # 일일 결과 저장
            results.append({
                'day': day,
                'total_coupon_amount': sum(optimal_coupons),
                'total_remaining_cash': active_users['cash'].sum(),
                'active_users': len(active_users),
                'today_visitors': len(today_users)
            })
        else:
            # 더 이상 방문 가능한 사용자가 없는 경우
            results.append({
                'day': day,
                'total_coupon_amount': 0,
                'total_remaining_cash': active_users['cash'].sum(),
                'active_users': len(active_users),
                'today_visitors': 0
            })
            # 모든 사용자의 잔액이 min_coupon 미만이면 시뮬레이션 종료
            break
    
    return pd.DataFrame(results)

# 시뮬레이션 실행
days = 100
coupon_price = [400, 1200, 2000, 4000, 12000]
min_coupon = min(coupon_price)

df__ = df[['user_id', 'current_cash']].drop_duplicates()
results_df = simulate_daily_purchases(df__[['user_id', 'current_cash']], days, coupon_price, min_coupon)

# 결과 출력
print("\n일별 시뮬레이션 결과:")
print(results_df.to_string(index=False))

# 추가 분석
print(f"\n시뮬레이션 종료일: {len(results_df)}일")
print(f"최종 남은 총 잔액: {results_df.iloc[-1]['total_remaining_cash']:,.0f}원")
print(f"총 쿠폰 구매액: {results_df['total_coupon_amount'].sum():,.0f}원")

일별 시뮬레이션 결과:
 day  total_coupon_amount  total_remaining_cash  active_users  today_visitors
   1           1149719200            1449125840        159500          149648
   2            723660000             725465840        159500          136146
   3            390842800             334623040        159500          107250
   4            184463200             150159840        159500           70238
   5             75768400              74391440        159500           39173
   6             28078400              46313040        159500           18593
   7              9541600              36771440        159500            7519
   8              3216800              33554640        159500            2599
   9              1176400              32378240        159500             787
  10               532000              31846240        159500             256
  11               342400              31503840        159500              99
  12               221600              31282240        159500              46
  13               149200              31133040        159500              28
  14                98000              31035040        159500              20
  15                72000              30963040        159500              16
  16                57600              30905440        159500              10
  17                30800              30874640        159500               6
  18                25200              30849440        159500               3
  19                24400              30825040        159500               3
  20                24000              30801040        159500               2
  21                24000              30777040        159500               2
  22                24000              30753040        159500               2
  23                24000              30729040        159500               2
  24                16000              30713040        159500               2
  25                16000              30697040        159500               2
  26                14000              30683040        159500               2
  27                12400              30670640        159500               2
  28                12400              30658240        159500               2
  29                12000              30646240        159500               1
  30                 2000              30644240        159500               1
  31                    0              30644240        159500               0

시뮬레이션 종료일: 31일
최종 남은 총 잔액: 30,644,240원
총 쿠폰 구매액: 2,568,200,800원

In [41]:
import pandas as pd
import numpy as np

def find_optimal_coupon(cash, coupon_price):
   coupon_array = np.array(coupon_price)  
   tg_buy_idx = np.where((cash - coupon_array) >= 0, cash - coupon_array, np.inf).argmin()
   return coupon_array[tg_buy_idx], cash - coupon_array[tg_buy_idx]

def simulate_daily_purchases(user_data, days, coupon_price, min_coupon, daily_cap):
   results = []
   
   # 초기 활성 사용자 설정
   active_users = user_data.copy()
   active_users['cash'] = active_users['current_cash']  # 초기 잔액 설정
   
   for day in range(1, days + 1):
       # 당일 방문 가능한 사용자 (cash가 min_coupon 이상인 사용자)
       potential_users = active_users[active_users['cash'] >= min_coupon]
       
       if len(potential_users) > 0:
           # 일일 방문자 수를 daily_cap으로 제한
           n_visitors = min(len(potential_users), daily_cap)
           # 랜덤 샘플링으로 today_users 선택
           today_users = potential_users.sample(n=n_visitors).copy()
           
           # 쿠폰 구매 및 잔액 계산
           optimal_coupons = []
           left_cash = []
           
           for cash in today_users['cash']:
               coupon, remaining = find_optimal_coupon(cash, coupon_price)
               optimal_coupons.append(coupon)
               left_cash.append(remaining)
           
           # 사용자 잔액 업데이트
           today_users['cash'] = left_cash
           active_users.loc[today_users.index, 'cash'] = left_cash
           
           # 일일 결과 저장
           results.append({
               'day': day,
               'total_coupon_amount': sum(optimal_coupons),
               'total_remaining_cash': active_users['cash'].sum(),
               'active_users': len(active_users),
               'today_visitors': len(today_users),
               'potential_visitors': len(potential_users)
           })
       else:
           # 더 이상 방문 가능한 사용자가 없는 경우
           results.append({
               'day': day,
               'total_coupon_amount': 0,
               'total_remaining_cash': active_users['cash'].sum(),
               'active_users': len(active_users),
               'today_visitors': 0,
               'potential_visitors': 0
           })
           # 모든 사용자의 잔액이 min_coupon 미만이면 시뮬레이션 종료
           break
   
   return pd.DataFrame(results)

# 시뮬레이션 실행
days = 100
coupon_price = [400, 1200, 2000, 4000, 12000]
min_coupon = min(coupon_price)
daily_cap = 22000

df__ = df[['user_id', 'current_cash']].drop_duplicates()
results_df = simulate_daily_purchases(df__[['user_id', 'current_cash']], days, coupon_price, min_coupon, daily_cap)

# 결과 출력
print("\n일별 시뮬레이션 결과:")
print(results_df.to_string(index=False))

# 추가 분석
print(f"\n시뮬레이션 종료일: {len(results_df)}일")
print(f"최종 남은 총 잔액: {results_df.iloc[-1]['total_remaining_cash']:,.0f}원")
print(f"총 쿠폰 구매액: {results_df['total_coupon_amount'].sum():,.0f}원")

pd.set_option('display.max_rows', None) 
pd.DataFrame(results_df)

일별 시뮬레이션 결과:
 day  total_coupon_amount  total_remaining_cash  active_users  today_visitors  potential_visitors
   1            168924000            2429921040        159500           22000              149648
   2            161690800            2268230240        159500           22000              147644
   3            156117600            2112112640        159500           22000              145222
   4            149026800            1963085840        159500           22000              142484
   5            143897200            1819188640        159500           22000              139453
   6            138155600            1681033040        159500           22000              136138
   7            131958800            1549074240        159500           22000              132439
   8            126724400            1422349840        159500           22000              128444
   9            121508800            1300841040        159500           22000              124007
  10            116616400            1184224640        159500           22000              119324
  11            111221600            1073003040        159500           22000              114140
  12            106744400             966258640        159500           22000              108666
  13            101228800             865029840        159500           22000              102880
  14             97883200             767146640        159500           22000               96646
  15             93937200             673209440        159500           22000               90139
  16             89536000             583673440        159500           22000               83276
  17             85561200             498112240        159500           22000               76041
  18             81324400             416787840        159500           22000               68614
  19             76289200             340498640        159500           22000               60817
  20             71914400             268584240        159500           22000               52458
  21             67784400             200799840        159500           22000               43732
  22             62693200             138106640        159500           22000               34555
  23             55672000              82434640        159500           22000               24862
  24             31395200              51039440        159500           14646               14646
  25             12279200              38760240        159500            6964                6964
  26              4634400              34125840        159500            2981                2981
  27              1751200              32374640        159500            1152                1152
  28               669200              31705440        159500             414                 414
  29               331200              31374240        159500             155                 155
  30               201600              31172640        159500              56                  56
  31               125600              31047040        159500              26                  26
  32                95600              30951440        159500              18                  18
  33                55200              30896240        159500              14                  14
  34                44000              30852240        159500               8                   8
  35                26800              30825440        159500               5                   5
  36                24400              30801040        159500               3                   3
  37                24000              30777040        159500               2                   2
  38                24000              30753040        159500               2                   2
  39                16000              30737040        159500               2                   2
  40                16000              30721040        159500               2                   2
  41                14000              30707040        159500               2                   2
  42                12400              30694640        159500               2                   2
  43                12400              30682240        159500               2                   2
  44                12000              30670240        159500               1                   1
  45                12000              30658240        159500               1                   1
  46                12000              30646240        159500               1                   1
  47                 2000              30644240        159500               1                   1
  48                    0              30644240        159500               0                   0

시뮬레이션 종료일: 48일
최종 남은 총 잔액: 30,644,240원
총 쿠폰 구매액: 2,568,200,800원

,day,total_coupon_amount,total_remaining_cash,active_users,today_visitors,potential_visitors
0,1,168924000,2429921040,159500,22000,149648
1,2,161690800,2268230240,159500,22000,147644
2,3,156117600,2112112640,159500,22000,145222
3,4,149026800,1963085840,159500,22000,142484
4,5,143897200,1819188640,159500,22000,139453
5,6,138155600,1681033040,159500,22000,136138
6,7,131958800,1549074240,159500,22000,132439
7,8,126724400,1422349840,159500,22000,128444
8,9,121508800,1300841040,159500,22000,124007
9,10,116616400,1184224640,159500,22000,119324
10,11,111221600,1073003040,159500,22000,114140
11,12,106744400,966258640,159500,22000,108666
12,13,101228800,865029840,159500,22000,102880
13,14,97883200,767146640,159500,22000,96646
14,15,93937200,673209440,159500,22000,90139
15,16,89536000,583673440,159500,22000,83276
16,17,85561200,498112240,159500,22000,76041
17,18,81324400,416787840,159500,22000,68614
18,19,76289200,340498640,159500,22000,60817
19,20,71914400,268584240,159500,22000,52458
20,21,67784400,200799840,159500,22000,43732
21,22,62693200,138106640,159500,22000,34555
22,23,55672000,82434640,159500,22000,24862
23,24,31395200,51039440,159500,14646,14646
24,25,12279200,38760240,159500,6964,6964
25,26,4634400,34125840,159500,2981,2981
26,27,1751200,32374640,159500,1152,1152
27,28,669200,31705440,159500,414,414
28,29,331200,31374240,159500,155,155
29,30,201600,31172640,159500,56,56
30,31,125600,31047040,159500,26,26
31,32,95600,30951440,159500,18,18
32,33,55200,30896240,159500,14,14
33,34,44000,30852240,159500,8,8
34,35,26800,30825440,159500,5,5
35,36,24400,30801040,159500,3,3
36,37,24000,30777040,159500,2,2
37,38,24000,30753040,159500,2,2
38,39,16000,30737040,159500,2,2
39,40,16000,30721040,159500,2,2
40,41,14000,30707040,159500,2,2
41,42,12400,30694640,159500,2,2
42,43,12400,30682240,159500,2,2
43,44,12000,30670240,159500,1,1
44,45,12000,30658240,159500,1,1
45,46,12000,30646240,159500,1,1
46,47,2000,30644240,159500,1,1
47,48,0,30644240,159500,0,0

In [ ]:
# 더 현실적인 시뮬레이션을 위한 추가 기능
def simulate_daily_visits_advanced(user_visit_gaps, daily_target, days=, seed=42):
    np.random.seed(seed)
    
    # 기본 방문 확률 계산
    visit_probs = 1 / user_visit_gaps
    visit_probs = visit_probs / visit_probs.sum()
    
    # 요일별 가중치 추가
    weekday_weights = {
        0: 1.2,  # 월요일
        5: 0.8,  # 토요일
        6: 0.7   # 일요일
    }
    
    daily_results = []
    for day in range(days):
        weekday = day % 7
        daily_weight = weekday_weights.get(weekday, 1.0)
        
        # 요일별 조정된 방문자 수
        adjusted_target = int(daily_target * daily_weight)
        
        # 방문자 샘플링
        visitors = np.random.choice(
            visit_probs.index,
            size=min(adjusted_target, len(visit_probs)),
            p=visit_probs,
            replace=False
        )
        
        daily_results.append({
            'day': day + 1,
            'weekday': weekday,
            'visitors': len(visitors),
            'unique_visitors': len(set(visitors))
        })
    
    return pd.DataFrame(daily_results)

In [ ]:
## 유저 방문 빈도 분포를 사전확률로 설정 시

import pandas as pd
import numpy as np

def find_optimal_coupon(cash, coupon_price):
   coupon_array = np.array(coupon_price)  
   tg_buy_idx = np.where((cash - coupon_array) >= 0, cash - coupon_array, np.inf).argmin()
   return coupon_array[tg_buy_idx], cash - coupon_array[tg_buy_idx]

def simulate_daily_purchases(user_data, days, coupon_price, min_coupon, daily_cap):
   results = []
   
   # 초기 활성 사용자 설정
   active_users = user_data.copy()
   active_users['cash'] = active_users['current_cash']  # 초기 잔액 설정
   
   for day in range(1, days + 1):
       # 당일 방문 가능한 사용자 (cash가 min_coupon 이상인 사용자)
       potential_users = active_users[active_users['cash'] >= min_coupon]
       
       if len(potential_users) > 0:
           # 일일 방문자 수를 daily_cap으로 제한
           n_visitors = min(len(potential_users), daily_cap)
           # 랜덤 샘플링으로 today_users 선택
           today_users = potential_users.sample(n=n_visitors).copy()
           
           # 쿠폰 구매 및 잔액 계산
           optimal_coupons = []
           left_cash = []
           
           for cash in today_users['cash']:
               coupon, remaining = find_optimal_coupon(cash, coupon_price)
               optimal_coupons.append(coupon)
               left_cash.append(remaining)
           
           # 사용자 잔액 업데이트
           today_users['cash'] = left_cash
           active_users.loc[today_users.index, 'cash'] = left_cash
           
           # 일일 결과 저장
           results.append({
               'day': day,
               'total_coupon_amount': sum(optimal_coupons),
               'total_remaining_cash': active_users['cash'].sum(),
               'active_users': len(active_users),
               'today_visitors': len(today_users),
               'potential_visitors': len(potential_users)
           })
       else:
           # 더 이상 방문 가능한 사용자가 없는 경우
           results.append({
               'day': day,
               'total_coupon_amount': 0,
               'total_remaining_cash': active_users['cash'].sum(),
               'active_users': len(active_users),
               'today_visitors': 0,
               'potential_visitors': 0
           })
           # 모든 사용자의 잔액이 min_coupon 미만이면 시뮬레이션 종료
           break
   
   return pd.DataFrame(results)

# 시뮬레이션 실행
days = 100
coupon_price = [400, 1200, 2000, 4000, 12000]
min_coupon = min(coupon_price)
daily_cap = 22000

df__ = df[['user_id', 'current_cash']].drop_duplicates()
results_df = simulate_daily_purchases(df__[['user_id', 'current_cash']], days, coupon_price, min_coupon, daily_cap)

# 결과 출력
print("\n일별 시뮬레이션 결과:")
print(results_df.to_string(index=False))

# 추가 분석
print(f"\n시뮬레이션 종료일: {len(results_df)}일")
print(f"최종 남은 총 잔액: {results_df.iloc[-1]['total_remaining_cash']:,.0f}원")
print(f"총 쿠폰 구매액: {results_df['total_coupon_amount'].sum():,.0f}원")

pd.set_option('display.max_rows', None) 
pd.DataFrame(results_df)

In [132]:
df__ = df[['user_id', 'current_cash']].drop_duplicates()

In [12]:
df[['user_id', 'current_cash']].drop_duplicates().current_cash.sum()

2246289196

퍼널

In [31]:
query = """with stack as 
  (select user_id, register_dt, sum(amt) as amt
  from
    (select m.wk_id as user_id, register_dt, amt 
    from ballosodeuk.dw.fact_shopby_reward r
    left join ballosodeuk.dw.dim_shopby_member m
      on r.member_no = m.member_no
    where 1=1
      and accumulation_status = "지급"
      and register_dt >= "2024-12-30"
      and reason_detail in ("쇼핑지원금 교환권 적립","쇼핑지원금 상품권 적립","쇼핑지원금 전환","쇼핑지원금 5,000원 교환 쿠폰" ))
  group by user_id, register_dt)

  ,click1 as 
  (select event_dttm, event_dt, user_id
  FROM `ballosodeuk.dw.fact_airbridge_event`, unnest(event_detail)
  where 1=1
    and event_dt between "2024-12-30" and "2025-01-09"
    and event_category in ('c__shopping_home__quick__btn (App)'))

,click2 as 
  (select event_dttm, event_dt, user_id
  FROM `ballosodeuk.dw.fact_airbridge_event`, unnest(event_detail)
  where 1=1
    and event_dt between "2024-12-30" and "2025-01-09"
    and event_category in ('c__all_income_s_money__to_exchange__btn (App)')
    )

,user_param as (
select distinct event_dt, user_id
from
  (select distinct event_dt, user_id from click1
  union all
  select distinct event_dt, user_id from click2
  ))

,exchange as 
  (
    select register_dttm, user_id, event, sum(amt) as amt
    from 
      (
        select register_dttm, wk_id as user_id, 
          case 
            when reason_detail in ('쇼핑지원금 교환권 적립', '쇼핑지원금 상품권 적립', '쇼핑지원금 5,000원 교환 쿠폰') then "교환권"
            else  "보상" end as event,
            amt
        from ballosodeuk.dw.fact_shopby_reward a
        left join `ballosodeuk.dw.dim_shopby_member` b on a.member_no = b.member_no
        where 1=1
          and accumulation_status = '지급'
          and register_dt >= "2024-12-30"
          and wk_id in (
            select user_id from user_param)
      )
    group by register_dttm, event, user_id
  )

,tg as 
  (select order_dttm,order_dt, order_no, member_no, first_pay_amt, first_sub_pay_amt, claim_status_type
  from
    (select order_dttm, order_dt, order_no, member_no, first_pay_amt, first_sub_pay_amt,  claim_status_type
    from ballosodeuk.dw.fact_shopby_order, unnest(product_option)
    where length(claim_status_type) < 1
    )
  group by order_dttm,order_dt, order_no, member_no, first_pay_amt, first_sub_pay_amt, claim_status_type)

,tgs as
  (select order_dttm as register_dttm, user_id, "구매" as event , first_pay_amt as amt
  from
    (
      select wk_id as user_id, min(order_dt) over (partition by a.member_no) as first_purchase, * except (member_no)
      from tg a
      left join ballosodeuk.dw.dim_shopby_member b on a.member_no = b.member_no
      where order_dt >= "2024-12-30"
    )
  -- where first_purchase >= "2024-12-30"
)

,merged as 
  (select * from exchange
  union all 
  select * from tgs)

,funnel as 
  (select register_dttm, user_id
    ,funnel_1
    ,case when funnel_1 = "교환권" then funnel_1_dt end as funnel_1_dt
    ,case when funnel_2 = "구매" and funnel_2_dt > funnel_1_dt then funnel_2 end as funnel_2
    ,case when funnel_2 = "구매" and funnel_2_dt > funnel_1_dt then funnel_2_dt end as funnel_2_dt
    ,case when 
      funnel_2 = "구매" 
      and funnel_2_dt > funnel_1_dt
      and funnel_3 = "보상" 
      and funnel_3_dt > funnel_2_dt
      then funnel_3 end as funnel_3
    ,case when 
      funnel_2 = "구매" 
      and funnel_2_dt > funnel_1_dt
      and funnel_3 = "보상" 
      and funnel_3_dt > funnel_2_dt
      then funnel_3_dt end as funnel_3_dt
  from
    (select register_dttm,user_id, event as funnel_1, register_dttm as funnel_1_dt
      ,lead(event) over (partition by user_id order by register_dttm) as funnel_2
      ,lead(register_dttm) over (partition by user_id order by register_dttm) as funnel_2_dt
      ,lead(event, 2) over (partition by user_id order by register_dttm) as funnel_3
      ,lead(register_dttm, 2) over (partition by user_id order by register_dttm) as funnel_3_dt
    from merged)
  where 1=1
    and funnel_1 = "교환권")

select * from funnel"""

In [32]:
ff = bq.query(query).to_dataframe()

c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2309: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2323: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)
c:\Users\Owner\miniconda3\envs\pymc\lib\site-packages\google\cloud\bigquery\table.py:2337: UserWarning: Unable to represent RANGE schema as struct using pandas ArrowDtype. Using `object` instead. To use ArrowDtype, use pandas >= 1.5 and pyarrow >= 10.0.1.
  warnings.warn(_RANGE_PYARROW_WARNING)

In [4]:
df

                                     user_id   event_dt  current_cash
10      000087ef-6929-4532-85be-33661b2082d5 2025-01-06         25905
11      0000d355-7050-4a3e-90d1-2aa0b1198aba 2024-12-30          8636
12      0000d355-7050-4a3e-90d1-2aa0b1198aba 2024-12-31          8636
13      00022901-aed3-4327-bb0a-29bbdc978dfa 2024-12-30         18658
14      000256cd-ebbd-46ac-94e9-93a2b1ace57d 2025-01-05          7283
...                                      ...        ...           ...
349932  fffff0da-172e-421f-87be-12324d714cbd 2025-01-04         14865
349933  fffff0da-172e-421f-87be-12324d714cbd 2025-01-06         14865
349934  fffff0da-172e-421f-87be-12324d714cbd 2025-01-07         14865
349935  fffff0da-172e-421f-87be-12324d714cbd 2025-01-08         14865
349936  fffff0da-172e-421f-87be-12324d714cbd 2025-01-09         14865

[349927 rows x 3 columns]

In [23]:
df = df.groupby('user_id').agg({'current_cash':'first'})
df = df.reset_index()

In [27]:
bins = [
    0,
    200,
    600,
    1000,
    2000,
    6000,
    10000,
    20000,
    float('inf')
]

labels = [
    "0 ~ 200",
    "200 ~ 600", 
    "600 ~ 1,000",
    "1,000 ~ 2,000",
    "2,000 ~ 6,000",
    "6,000 ~ 10,000",
    "10,000 ~ 20,000",
    "20,000 ~"
]

df['cash_bin'] = pd.cut(df['current_cash'], bins=bins, labels=labels)
df_ = df.groupby('cash_bin').agg({'user_id': lambda x: len(set(x)), 'current_cash': 'sum'})
df_ = df_.reindex(labels)
df_

                 user_id  current_cash
cash_bin
0 ~ 200             2914        234471
200 ~ 600           2011        788474
600 ~ 1,000         1765       1417268
1,000 ~ 2,000       4942       7456447
2,000 ~ 6,000      21810      86727898
6,000 ~ 10,000     17476     137782372
10,000 ~ 20,000    28387     411599465
20,000 ~           44824    1596926546

In [25]:
df_.current_cash.sum()

2242932941